extends default

block content
  script(type='text/javascript').
          
          function myFunction() {
          var input, filter, table, tr, td, i, txtValue;
          input = document.getElementById("myInput");
          filter = input.value.toUpperCase();
          table = document.getElementById("myTable");
          tr = table.getElementsByTagName("tr");
          for (i = 0; i < tr.length; i++) {
              td = tr[i].getElementsByTagName("td")[1];
              if (td) {
              txtValue = td.textContent || td.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                  tr[i].style.display = "";
              } else {
                  tr[i].style.display = "none";
              }
              }       
          }
          }   
  if(username)
    for d in data
        if (d.role == 'admin')
            h5 Search by Name
            input(type="text" id="myInput" onkeyup="myFunction()" placeholder="Search by names.." title="Type in a name" style="border-radius:10px;")
            table(class="table table-hover table-bordered " id="myTable")
                thead
                    tr
                        th ID                
                        th Name 
                        th Email 
                        th Password 
                        th Role
                tbody
                    for cp,index in data
                        tr
                            td= cp.id
                            td= cp.name 
                            td=cp.email 
                            td=cp.password
                            td=cp.role  
                               a(href=`/edit_user/${JSON.stringify(data[index])}` class=`btn btn-primary` id=`edit-button` style="float: right") Edit Client
        else 
            h5 You're not a admin