extends default

block content
    div(class="container")
        h5 Search by Name
        input(type="text" id="myInput" onkeyup="myFunction()" placeholder="Search by names.." title="Type in a name" style="border-radius:10px;")
        table(class="table table-hover table-bordered " id="myTable")
            thead
                tr
                    th First Name                 
                    th Last Name 
                    th Phone
                    th Appointment 1
                    th Appointment 2
                    th Appointment 3
            tbody
                for d in results1
                    tr
                        td= d.firstName
                        td= d.lastName 
                        td=d.phone 
                        td=d.startime1+" "+d.nextapp1
                        td=d.startime2+" "+d.nextapp2
                        td=d.startime3+" "+d.nextapp3