extends default

block content
    
    if(username)
        if(role == 'new')
            h2(class="text-center") Contact Administrator to asign role 
            include new_contact_admin
        if(role == 'admin' || role == 'staff')

            div(class="container")
                h1(class="p-2") #{data.lastName} #{data.firstName} profile
                    

                form(role="form" style="row-gap: 10px;" method="POST", action=`/edit/${JSON.stringify(data)}`)
                
                    h6 Id
                    div(class="d-flex justify-content-center" )                
                        input(type='text' name='id'  class="form-control m-2" value=data.id placeholder="Id")
                    h6 First Name
                    div(class="d-flex justify-content-center")
                        input(type='text' name='name'  class="form-control m-2" value=data.firstName placeholder="First Name")
                    h6 Last Name
                    div(class="d-flex justify-content-center")
                        input(type='text' name='lastName'  class="form-control m-2" value=data.lastName placeholder="Last Name" )
                    h6 Age
                    div(class="d-flex justify-content-center")
                        input(type='text' name='age'  class="form-control m-2" value=data.age placeholder="Age")
                    h6 Phone
                    div(class="d-flex justify-content-center")
                        input(type='text' name='phone' class="form-control m-2" value=data.phone placeholder="Phone")
                    h6 Email
                    div(class="d-flex justify-content-center")
                        input(type='text' name='email' id='email' class="form-control m-2" value=data.email placeholder="Email")
                    h6 Address
                    div(class="d-flex justify-content-center")
                        input(type='text' name='address' id='address' class="form-control m-2" value=data.address placeholder="Address")
                    h6 Walk in Date
                    div(class="d-flex justify-content-center")
                        input(type='date' name='walkin' id='walkin' class="form-control m-2" value=data.walkin)
                    h2(class="border border-5 mt08-1") Treatment 1     
                        h5(class="float-end") Payment Status  - 
                            if(data.pay_t1==='paid')
                                button(type="button" class="btn btn-success")=data.pay_t1
                            if(data.pay_t1==='unpaid')
                                button(type="button" class="btn btn-danger")=data.pay_t1
                    div(class="btn-group")
                        button(type="button" class="btn btn-primary" data-toggle="modal" data-target="#MyModal1") Treatment 1
                        div(id="MyModal1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" )
                            div(class="modal-dialog modal-lg")
                                div(class="modal-content")
                                    div(class="modal-header")
                                        button(type="button" class="close" data-dismiss="modal" aria-label="Close") x
                                            span(aria-hidden="true")
                                        h4(class="modal-title" id="gridSystemModalLabel") Treatment 1 Info
                                    div(class="modal-body")
                                        div(class="body-message")
                                            h6 Doctor performing the treatment
                                            div(class="d-flex justify-content-center col-4")
                                                select(id="doctor" name="doctor_t1" class="form-select form-control " )
                                                        option(value=data.doctor_t1)=data.doctor_t1
                                                        option(value="Dr. John Smith II") Dr. John Smith II
                                                        option(value="Dr. Kamely Asin") Dr. Kamely Asin
                                                        option(value="Dr. Trevor Hightower") Dr. Trevor Hightower
                                            h6 Pre treatment notes
                                            textarea(name="notes_1" class="form-control col-2")=data.notes_1
                                            h6 Treatment name
                                            div(class="d-flex justify-content-center col-4")
                                                select(id="Treatment1" name="Treatment1" class="list mdb-select md-form m-2  form-control")
                                                    option(value=data.treatement_1)=data.treatement_1
                                                    option(value="Bridge") Bridge 
                                                    option(value="Crowns") Crowns
                                                    option(value="Filling") Fillings
                                                    option(value="Root canal treatment") Root canal treatment
                                                    option(value="Scale and polish") Scale and polish
                                                    option(value="Braces") Braces
                                                    option(value="Wisdom tooth removal") Wisdom tooth removal
                                                    option(value="Dental implants") Dental implants
                                                    option(value="Dentures or false teeth") Dentures or false teeth
                                                    option(value="Broken or knocked out toot") Broken or knocked out tooth
                                                    option(value="Teeth whitening") Teeth whitening
                                                    option(value="Dental veneers") Dental veneers
                                            h6 Post treatment notes
                                            textarea(name="t1_desc" class="form-control col-2")=data.t1_desc
                                            h6 Cost
                                                div(class="d-flex justify-content-center col-2")
                                                    input(type='text' name='cost_1' onblur="findTotal()" id="cost" class="amount form-control m-2 " value=data.cost_1 placeholder="Cost")
                                            h6 Next Appointment Date
                                                div(class="d-flex justify-content-center")
                                                    input(type='date' name='nextapp1' id='nextapp1' class="form-control m-2" value=data.nextapp1)
                                            h6 Hour 
                                                select(id="time" name="startime1" )
                                                    option(value=data.startime1)=data.startime1
                                                    option(value="9:00-11:00") 9:00 - 11:00
                                                    option(value="11:00-13:00") 11:00 - 13:00
                                                    option(value="13:00-15:00") 13:00 - 15:00
                                                    option(value="15:00-17:00") 15:00 - 17:00
                                            h6 Payment
                                                select(id="pay_t1" name="pay_t1" class="mdb-select md-form m-2  form-control") 
                                                        option(value=data.pay_t1)=data.pay_t1
                                                        option(value="paid") paid        
                                                        option(value="paid") unpaid                      
                                    button(class="btn btn-primary " data-dismiss="modal" aria-hidden="true") Close
                    h2(class="border border-5 mt-5") Treatment2   
                        h5(class="float-end") Payment Status  - 
                            if(data.pay_t2==='paid')
                                button(type="button" class="btn btn-success")=data.pay_t2
                            if(data.pay_t2==='unpaid')
                                button(type="button" class="btn btn-danger")=data.pay_t2
                    div(class="btn-group")
                        button(type="button" class="btn btn-primary" data-toggle="modal" data-target="#MyModal2") Treatment 2
                        div(id="MyModal2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true")
                            div(class="modal-dialog modal-lg")
                                div(class="modal-content")
                                    div(class="modal-header")
                                        button(type="button" class="close" data-dismiss="modal" aria-label="Close") x
                                            span(aria-hidden="true")
                                        h4(class="modal-title" id="gridSystemModalLabel") Treatment 2 Info
                                    div(class="modal-body")
                                        div(class="body-message")
                                            h6 Doctor performing the treatment
                                            div(class="d-flex justify-content-center col-4")
                                                select(id="doctor" name="doctor_t2" class="form-select form-control " )
                                                        option(value=data.doctor_t1)=data.doctor_t1
                                                        option(value="Dr. John Smith II") Dr. John Smith II
                                                        option(value="Dr. Kamely Asin") Dr. Kamely Asin
                                                        option(value="Dr. Trevor Hightower") Dr. Trevor Hightower
                                            h6 Pre treatment notes
                                            textarea(name="notes_2" class="form-control")=data.notes_2
                                            h6 Treatment name
                                            div(class="d-flex justify-content-center col-4")
                                                select(id="Treatment2" name="Treatment2" class="list mdb-select md-form m-2  form-control")
                                                    option(value=data.treatement_2)=data.treatement_2
                                                    option(value="Bridge") Bridge 
                                                    option(value="Crowns") Crowns
                                                    option(value="Filling") Fillings
                                                    option(value="Root canal treatment") Root canal treatment
                                                    option(value="Scale and polish") Scale and polish
                                                    option(value="Braces") Braces
                                                    option(value="Wisdom tooth removal") Wisdom tooth removal
                                                    option(value="Dental implants") Dental implants
                                                    option(value="Dentures or false teeth") Dentures or false teeth
                                                    option(value="Broken or knocked out toot") Broken or knocked out tooth
                                                    option(value="Teeth whitening") Teeth whitening
                                                    option(value="Dental veneers") Dental veneers
                                            h6 Post treatment notes
                                            textarea(name="t2_desc" id="t2_desc" class="form-control col-2" )=data.t2_desc
                                            h6 Cost
                                                div(class="d-flex justify-content-center col-2")
                                                    input(type='text' name='cost_2' onblur="findTotal()" id="cost" class="amount form-control m-2 " value=data.cost_2 placeholder="Cost")       
                                            h6 Next Appointment Date
                                                div(class="d-flex justify-content-center")
                                                    input(type='date' name='nextapp2' id='nextapp2' class="form-control m-2" value=data.nextapp2)
                                            h6 Hour
                                                select(id="time" name="startime2" )
                                                    option(value=data.startime2)=data.startime2
                                                    option(value="9:00-11:00") 9:00 - 11:00
                                                    option(value="11:00-13:00") 11:00 - 13:00
                                                    option(value="13:00-15:00") 13:00 - 15:00
                                                    option(value="15:00-17:00") 15:00 - 17:00
                                            h6 Payment
                                                select(id="pay_t2" name="pay_t2" class="mdb-select md-form m-2  form-control") 
                                                    option(value=data.pay_t2)=data.pay_t2
                                                    option(value="paid") paid  
                                                    option(value="paid") unpaid            
                                    button(class="btn btn-primary " data-dismiss="modal" aria-hidden="true") Close
                    h2(class="border border-5 mt-5") Treatment 3   
                        h5(class="float-end")  Payment Status  - 
                            if(data.pay_t3==='paid')
                                button(type="button" class="btn btn-success")=data.pay_t3
                            if(data.pay_t3==='unpaid')
                                button(type="button" class="btn btn-danger")=data.pay_t3
                    div(class="btn-group")
                        button(type="button" class="btn btn-primary" data-toggle="modal" data-target="#MyModal3") Treatment 3
                        div(id="MyModal3" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true")
                            div(class="modal-dialog modal-lg")
                                div(class="modal-content")
                                    div(class="modal-header")
                                        button(type="button" class="close" data-dismiss="modal" aria-label="Close") x
                                            span(aria-hidden="true")
                                        h4(class="modal-title" id="gridSystemModalLabel") Treatment 3 Info
                                    div(class="modal-body")
                                        div(class="body-message")
                                            h6 Doctor performing the treatment
                                            div(class="d-flex justify-content-center col-4")
                                                select(id="doctor" name="doctor_t3" class="form-select form-control " )
                                                        option(value=data.doctor_t1)=data.doctor_t1
                                                        option(value="Dr. John Smith II") Dr. John Smith II
                                                        option(value="Dr. Kamely Asin") Dr. Kamely Asin
                                                        option(value="Dr. Trevor Hightower") Dr. Trevor Hightower
                                            h6 Pre treatment notes
                                            textarea(name="notes_3" class="form-control")=data.notes_3
                                            h6 Treatment name
                                            div(class="d-flex justify-content-center col-4")
                                                select(id="Treatment3" name="Treatment3" class=" list mdb-select md-form m-2  form-control")
                                                    option(value=data.treatement_3)=data.treatement_3
                                                    option(value="Bridge") Bridge 
                                                    option(value="Crowns") Crowns
                                                    option(value="Filling") Fillings
                                                    option(value="Root canal treatment") Root canal treatment
                                                    option(value="Scale and polish") Scale and polish
                                                    option(value="Braces") Braces
                                                    option(value="Wisdom tooth removal") Wisdom tooth removal
                                                    option(value="Dental implants") Dental implants
                                                    option(value="Dentures or false teeth") Dentures or false teeth
                                                    option(value="Broken or knocked out toot") Broken or knocked out tooth
                                                    option(value="Teeth whitening") Teeth whitening
                                                    option(value="Dental veneers") Dental veneers
                                            h6 Post treatment notes
                                            textarea(name="t3_desc" class="form-control col-2")=data.t3_desc
                                            h6 Cost
                                                div(class="d-flex justify-content-center col-2")
                                                    input(type='text' name='cost_3' onblur="findTotal()" id="cost3" class="amount form-control m-2 " value=data.cost_3 placeholder="Cost")      
                                            h6 Next Appointment Date
                                                div(class="d-flex justify-content-center")
                                                    input(type='date' name='nextapp3' id='nextapp3' class="form-control m-2" value=data.nextapp3)
                                            h6 Hour
                                                select(id="time" name="startime3"  )
                                                    option(value=data.startime3)=data.startime3
                                                    option(value="9:00-11:00") 9:00 - 11:00
                                                    option(value="11:00-13:00") 11:00 - 13:00
                                                    option(value="13:00-15:00") 13:00 - 15:00
                                                    option(value="15:00-17:00") 15:00 - 17:00
                                            h6 Payment
                                                select(id="pay_t3" name="pay_t3" class="mdb-select md-form m-2  form-control") 
                                                    option(value=data.pay_t3)=data.pay_t3
                                                    option(value="paid") paid
                                                    option(value="paid") unpaid    

                                button(class="btn btn-primary " data-dismiss="modal" aria-hidden="true") Close                 
                    h6 Cost
                    div(class="d-flex justify-content-center")
                        input(type='text' name='cost' id="totalordercost" class="total form-control m-2" value=Number(data.cost_1)+Number(data.cost_2)+Number(data.cost_3) placeholder="Cost")
                    div(class="d-flex justify-content-center")
                        button(type="submit" class="btn btn-primary" ) Submit
                        a.btn(href='/show_customers' type="button" class="btn btn-primary ") back

    script.
    
        function findTotal(){
            var arr = document.getElementsByClassName('amount');
            var tot=0;
            for(var i=0;i<arr.length;i++){
                if(parseFloat(arr[i].value))
                    tot += parseFloat(arr[i].value);
            }
            document.getElementById('totalordercost').value = tot;
        }
        // select all select elements on the page
        const selectElements = document.querySelectorAll('select');

        // loop through each select element
        selectElements.forEach(select => {
        // create an empty array for unique options
        const uniqueOptions = [];

        // loop through each option element
        select.querySelectorAll('option').forEach(option => {
            // check if the value is already in the unique options array
            if (!uniqueOptions.includes(option.value)) {
            // if not, add it to the array
            uniqueOptions.push(option.value);
            }
        });

        // remove all existing option elements from the select element
        select.innerHTML = '';

        // loop through the unique options array and create new option elements
        uniqueOptions.forEach(value => {
            const option = document.createElement('option');
            option.value = value;
            option.textContent = value;
            select.appendChild(option);
        });
        });

       

    
    style.
        .form-control{
        border-radius: 20px !important;
        box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF !Important;
        border: none;
        background: transparent !important;
            
        }
        .wrap .container{
            box-shadow:3px 3px 5px #BABECC,  -5px -5px 10px #FFF;

        }

        .form-control:hover{
            box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF !important;
        }
        