extends default
block content
  include loader
  div.container(class="content d-flex justify-content-around")
    p This clinic is the best
  if message
    div(class="alert")
      span(class="closebtn" onclick="this.parentElement.style.display='none';") &times; 
      strong  #{message && message}
  div.container(id="content" class="d-flex justify-content-around")
    a(type="button" href= username ? "/results" : "/login" class="btn btn-outline-primary me-2") #{username ? "Results" : "Login"}
    - var cards = [{ title: 'About Us', copy: 'Meet the outstanding team that made Zental what it is today! ', button: 'about',href:'/about' }, { title: 'Services', copy: 'Check our long list of services', button: 'Services',href:'/services' }, { title: 'Dentist\'s advice', copy: 'Read the advices our experienced doctors give on how to take care of your oral hygiene. ', button: 'Advice' ,href:'/advice`'}, { title: 'Explore The Galaxy', copy: 'Seriously, straight up, just blast off into outer space today', button: 'Book Now',href:'/about' }]


    mixin card(title, copy, button,href)
      .card
        .content
        
          h2.title= title
          p.copy= copy
          a(href=href)
            button.href= href
          

  main.page-content(class="main" style="display:none")
    each card in cards
      +card(card.title, card.copy, card.href,card.button)
  include book
  style.
      @import url('https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap');
    :root {
      --d: 700ms;
      --e: cubic-bezier(0.19, 1, 0.22, 1);
      --font-sans: 'Rubik', sans-serif;
      --font-serif: 'Cardo', serif;
    }
    .content>.btn{
      background-color:red;
    }
    .page-content {
      display: grid;
      grid-gap: 1rem;
      padding: 1rem;
      max-width: 1024px;
      margin: 0 auto;
      font-family: var(--font-sans);
    }
    @media (min-width: 600px) {
      .page-content {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    @media (min-width: 800px) {
      .page-content {
        grid-template-columns: repeat(4, 1fr);
      }
    }
    .card {
      position: relative;
      display: flex;
      align-items: flex-end;
      overflow: hidden;
      padding: 1rem;
      width: 100%;
      text-align: center;
      color: whitesmoke;
      background-color: whitesmoke;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
    }
    @media (min-width: 600px) {
      .card {
        height: 350px;
      }
    }
    .card:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 110%;
      background-size: cover;
      background-position: 0 0;
      transition: transform calc(var(--d) * 1.5) var(--e);
      pointer-events: none;
    }
    .card:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 200%;
      pointer-events: none;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.320) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.540) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.790) 100%);
      transform: translateY(-50%);
      transition: transform calc(var(--d) * 2) var(--e);
    }
    .card:nth-child(1):before {
      background-image: url(practice.jpg);
      background-size: cover;
      height:350px;
      width:300px;
    }
    .card:nth-child(2):before {
      background-image: url(https://i.ibb.co/pP43dGW/pexels-evg-kowalievska-1170979.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      height:350px;
      width:400px;
    }
    .card:nth-child(3):before {
      background-image: url(https://images.unsplash.com/photo-1545243424-0ce743321e11?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
    }
    .card:nth-child(4):before {
      background-image: url(https://images.unsplash.com/photo-1531306728370-e2ebd9d7bb99?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
    }
    .content {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 1rem;
      transition: transform var(--d) var(--e);
      z-index: 1;
    }
    .content > * + * {
      margin-top: 1rem;
    }
    .title {
      font-size: 1.3rem;
      font-weight: bold;
      line-height: 1.2;
    }
    .copy {
      font-family: var(--font-serif);
      font-size: 1.125rem;
      font-style: italic;
      line-height: 1.35;
    }
    
    @media (hover: hover) and (min-width: 600px) {
      .card:after {
        transform: translateY(0);
      }
      .content {
        transform: translateY(calc(100% - 4.5rem));
      }
      .content > *:not(.title) {
        opacity: 0;
        transform: translateY(1rem);
        transition: transform var(--d) var(--e), opacity var(--d) var(--e);
      }
      .card:hover, .card:focus-within {
        align-items: center;
      }
      .card:hover:before, .card:focus-within:before {
        transform: translateY(-4%);
      }
      .card:hover:after, .card:focus-within:after {
        transform: translateY(-50%);
      }
      .card:hover .content, .card:focus-within .content {
        transform: translateY(0);
      }
      .card:hover .content > *:not(.title), .card:focus-within .content > *:not(.title) {
        opacity: 1;
        transform: translateY(0);
        transition-delay: calc(var(--d) / 8);
      }
      .card:focus-within:before, .card:focus-within:after, .card:focus-within .content, .card:focus-within .content > *:not(.title) {
        transition-duration: 0s;
      }
    }
    html,body{
      height:100%;
    }
    body > footer {
    position: sticky;
    top: 100vh;
    }
  script.
          setTimeout(function() {
    // Hide preloader and show content
    document.getElementById('scene').style.display = 'none';
    document.querySelector('.main').style.display=''
    }, 10000);
    var clicks = 0;
    document.addEventListener("click", function() {
    clicks++;
    if (clicks == 2) {
        // Display the content by removing the "hidden" class from the content container
      document.getElementById('scene').style.display = 'none';
      document.querySelector('.main').style.display=''
    }
    });