extends default

block content
    script.
        function hideDiv() {
        var modal=document.getElementById("myModal")
        var myIframe = modal.getElementById("myFrame");
        var divElement = myIframe.contentWindow.document.querySelector(".container");
        divElement.style.display = "none";}
    style.
        .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        margin: auto;
        text-align: center;
        font-family: arial;
        }
        #wrapper {
            margin-top:50px;
            padding-left: 0;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }

        #wrapper.toggled {
            padding-left: 250px;
        }

        #sidebar-wrapper {
            z-index: 1000;
            position: fixed;
            left: 250px;
            width: 0;
            height: 100%;
            margin-left: -250px;
            overflow-y: auto;
            background: #442B48;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }

        #wrapper.toggled #sidebar-wrapper {
            width: 250px;
        }

        #page-content-wrapper {
            width: 100%;
            position: absolute;
            padding: 15px;
        }

        #wrapper.toggled #page-content-wrapper {
            position: absolute;
            margin-right: -250px;
        }

        .sidebar-nav {
            position: absolute;
            top: 0;
            width: 250px;
            margin: 0;
            padding: 0;
            list-style: none;
        }

        .sidebar-nav li {
            text-indent: 20px;
            line-height: 40px;
        }

        .sidebar-nav li a {
            display: block;
            text-decoration: none;
            color: #999999;
        }

        .sidebar-nav li a:hover {
            text-decoration: none;
            color: #fff;
            background: rgba(255,255,255,0.2);
        }

        .sidebar-nav li a:active,
        .sidebar-nav li a:focus {
            text-decoration: none;
        }

        .sidebar-nav > .sidebar-brand {
            height: 65px;
            font-size: 18px;
            line-height: 60px;
        }

        .sidebar-nav > .sidebar-brand a {
            color: #999999;
        }

        .sidebar-nav > .sidebar-brand a:hover {
            color: #fff;
            background: none;
        }

        @media(min-width:768px) {
            #wrapper {
                padding-left: 250px;
            }

            #wrapper.toggled {
                padding-left: 0;
            }

            #sidebar-wrapper {
                width: 250px;
            }

            #wrapper.toggled #sidebar-wrapper {
                width: 0;
            }

            #page-content-wrapper {
                padding: 20px;
                position: relative;
            }

            #wrapper.toggled #page-content-wrapper {
                position: relative;
                margin-right: 0;
            }
        }
        @media (min-width: 768px) {
        .modal-xl {
            width: 90%;
        max-width:1200px;
        }
        }
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#"><i class="bi bi-person-rolodex" role="img" aria-label="GitHub"></i> #{username}
                    </a>
                </li>
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#">Shortcuts</a>
                </li>
                <li>
                    <a href="#">Overview</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="/agenda">Contact</a>
                </li>
            </ul>
        </div>

        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                                  
                      h1(style="text-align: center; margin-top: 50px;") Welcome #{username} 
                      h2(style="text-align: center; margin-bottom: 30px;")  Dashboard 
                      div.container(class="d-flex justify-content-around container")
                        a.btn(href='/add_client' type="button" class="btn btn-light btn-circle btn-xl btn-outline-primary")
                          i.fab.fa-accusoft.fa-lg(aria-hidden='true') Add Client
                        a.btn(href='/delete_client' type="button" class="btn btn-light btn-circle btn-xl btn-outline-primary") Delete Client 
                        a.btn(href='/show_customers' type="button" class="btn btn-light btn-circle btn-xl btn-outline-primary") Clients Database
                   
                    for d in data 
                        div(class="card" style="text-align: center; margin-top: 50px;" )
                            p(style="text-align: center; margin-top: 10px;") Your next appointment is with:
                            h3(style="text-align: center; margin-top: 50px;")= d.firstName
                            h5(style="text-align: center; margin-top: 50px;")=d.nextapp

                        //<button href="#myModal" id="openBtn" data-toggle="modal" class="btn btn-default">Modal</button>

                        //<div class="modal fade" id="myModal">
                        //<div class="modal-dialog modal-xl">
                              <div class="modal-content">
                                <div class="modal-header">
                                    <button onclick="hideDiv()">Hide Div</button>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h3 class="modal-title">Big Title</h3>
                                </div>
                              <div class="modal-body">
                                iframe(id="myFrame" src="/show_customers", width="100%" height="300" style="border:none;") 
                              </div>
                              <button onclick="hideDiv()">Hide Div</button>