extends default

block content

    script(type='text/javascript').
        
        function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
            }       
        }
        }   

    h5 Search by Name
    input(type="text" id="myInput" onkeyup="myFunction()" placeholder="Search by names.." title="Type in a name" style="border-radius:10px;")
    table(class="table table-hover table-bordered " id="myTable")
        thead
            tr
                th First Name                 
                th Last Name 
                th Phone 
        tbody
            for cp,index in data1
                tr
                    td= cp.firstName
                    td= cp.lastName 
                    td=cp.phone 
                    td 
                       a(href=`/edit/${JSON.stringify(data1[index])}` class=`btn btn-primary` id=`edit-button`) Edit Client
                       a(href=`/invoice/${JSON.stringify(data1[index])}` class=`btn btn-primary` id=`invoice-button`) Invoice   